
/*筛选*/
.shaixuan{
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 14px;
    color: #909090;
    font-family: "Microsoft Yahei";
    z-index: 50;
    color:#fff;
}
.hs-right-icon{display: none;}
sc .arrowBtn{
    z-index: 1000;
}
.zhuan{
    color:#f02387;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   overflow: hidden;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    box-sizing: border-box;
    padding: 20px 0 20px 20px;
    transition:all 0.5s ease 0s;
}
.menue{
    transition:all 0.5s ease 0s;
    -webkit-transform:translateY(-100%);

}
.menu h3{
    color:#fff;
    font-size: 14px;
    margin: 10px 0;
}
.menu ul{
    width: 100%;
    overflow: hidden;
    padding: 5px 20px;
    box-sizing: border-box;
}
.menu ul li{
    width: 20%;
    border:1px solid #fff;
    font-size: 12px;
    margin-right: 3%;
    float: left;height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    color: #ddd;

}
.menu ul li.cur{
    color:#fff;
    border:1px solid #f02387;
}
.menu .shumu{
    margin-top: 60px;
    font-size: 12px;
    color: #fff;
}
.menu .shumu span{
    color: #f02387;
}
.menu .button{
    position: absolute;
    color: #fff;
    right: 20px;
    bottom: 20px;
    width: 60px;
    box-shadow: 1px 1px 1px #ddd;
    height: 30px;
    border: none;
    line-height: 30px;
    text-align: center;
    background: #f02387;
    border-radius: 4px;
}

/*导航*/
.list-top{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ddd;
}
.list-top ul{
    width: 100%;
    overflow: hidden;
}
.list-top ul li{
    width: 25%;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #909090;
    font-family: "Microsoft Yahei";
}
.list-top ul li.cur{
    color: #f02387;
}
.list-top ul li:nth-child(3){
    box-sizing: border-box;
    border-right: 1px solid #f2f2f2;
}

/*筛选标签*/
.list-biaoqian{
    width: 100%;
}
.list-biaoqian ul{
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
}
.list-biaoqian ul li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #555;
    width: 22%;
    float: left;
    box-sizing: border-box;
    margin: 5px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #eee;
}